* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Common style */
.heading-style {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

.paragraph-style {
    color: #ada6a6;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;

}

.my-btn {
    color: #FFFFFF;
    background: var(--my-gradient-color);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 9999px;
}

.gradient-color {
    background: var(--my-gradient-color);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --my-gradient-color: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
}

/* ==========================================
Header Section
========================================== */
.nav-bar {
    padding: 30px 0;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 314px;
}

.logo>h1 {
    color: #FFFFFF;
    font-size: 43px;
    font-weight: 800;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu>li {
    list-style: none;
    cursor: pointer;
}

.menu>li>a {
    color: #c2baba;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.subscription>button {
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* ==========================================
Hero Section
========================================== */
.hero-section {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    padding: 101px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-container {
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    padding: 77.33px 116.67px 97.67px 116.67px;

}

.hero-section>h1 {
    font-size: 60px;
    margin-bottom: 8px;
}

.hero-section>p {
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    gap: 8px;
}

.hero-btn>button {
    padding: 12px 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    white-space: nowrap;
    display: flex;
    gap: 18px;
}

.hero-btn>button:nth-child(2) {
    color: #00FF88;
    background: none;
    border: 2px solid #00FF88;
}

.hero-btn>button>img {
    object-fit: contain;
}

hr {
    border: .2px solid #302f2f;
}

/* ==========================================
Podcast Section
========================================== */
.podcast-section {
    background-color: #230E3D;
    padding: 50px 0 120px 0;
}

.podcast-section>h1{
    margin-bottom: 16px;
}

.podcast-section>h1,
p{
    text-align: center;
}

.podcast-p-2{
    margin: 45px 0 80px 0;
}

.podcast-section>hr{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border: .2px solid #302f2f;
}

/* About */
.about{
    margin: 80px 0 120px 0;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.about-item{
    width: 240px;
    text-align: center;
}

.about-item>h1{
    color: #00FF88;
}

/* ==========================================
Podcast Section
========================================== */
