* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Common style */
.heading-style {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

.paragraph-style {
    color: #ada6a6;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;

}

.my-btn {
    color: #FFFFFF;
    background: var(--my-gradient-color);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}

.gradient-color {
    background: var(--my-gradient-color);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --my-gradient-color: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
}

/* ==========================================
Header Section
========================================== */
.nav-bar {
    background-color: #1A0B2E;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 314px;
}

.logo>h1 {
    color: #FFFFFF;
    font-size: 43px;
    font-weight: 800;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu>li {
    list-style: none;
    cursor: pointer;
}

.menu>li>a {
    color: #c2baba;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.subscription>button {
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hamburger-menu {
    display: none;
}

/* ==========================================
Hero Section
========================================== */
.hero-section {
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 101px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-container {
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    padding: 77.33px 116.67px 97.67px 116.67px;
    position: relative;
}

/* Badge with animation */
.badge {
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 800;
    padding: 8px 16px;
    border-radius: 9999px;
    position: absolute;
    top: 12px;
    right: 23px;
    animation: badge 1s infinite;
}

@keyframes badge {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 200, 255, 0.6);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

.hero-section>h1 {
    font-size: 60px;
    margin-bottom: 8px;
}

.hero-section>p {
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    gap: 8px;
}

.hero-btn>button {
    padding: 12px 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    white-space: nowrap;
    display: flex;
    gap: 18px;
}

.hero-btn>button:nth-child(2) {
    color: #00FF88;
    background: none;
    border: 2px solid #00FF88;
}

.hero-btn>button>img {
    object-fit: contain;
}

hr {
    border: .2px solid #302f2f;
}

/* ==========================================
Podcast Section
========================================== */
.podcast-section {
    background-color: #1A0B2E;
    padding: 50px 0 120px 0;
}

.podcast-section>h1 {
    margin-bottom: 16px;
}

.podcast-section>h1,
p {
    text-align: center;
}

.podcast-para {
    text-align: center;
}

.podcast-p-2 {
    margin: 45px 0 80px 0;
    text-align: center;
}

.podcast-section>hr {
    margin: 0 auto;
    margin-bottom: 80px;
    border: .2px solid #302f2f;
}

/* About */
.about {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item>h1 {
    color: #00FF88;
}

/* ==========================================
Grid Section
========================================== */

.grid-section {
    background-color: #230E3D;
    text-align: center;
    padding: 120px 0;
}

.grid-section>h1 {
    margin-bottom: 40px;
}

.inner-grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.items {
    background-color: #351165;
    border-radius: 40px;
    padding: 40px
}

.items>h2 {
    color: #eae2e2;
    font-weight: 900;
}

.items-1 {
    padding-top: 107.5px;
    padding-bottom: 107.5px;
    grid-row: span 2;
}

.items-2 {
    grid-column: span 2;
}

.items-3 {
    grid-column: span 2;
}

.items-4 {
    grid-column: span 2;
}

.items>img {
    margin-bottom: 16px;
}

.items>h2 {
    font-size: 24px;
    font-weight: 500;
}

.items>h2,
p {
    text-align: left;
}

/* ==========================================
Featured Section
========================================== */

.featured-section {
    background-color: #1A0B2E;
    padding: 120px 0;
}

.featured-section>h1 {
    text-align: center;
    margin-bottom: 40px;
}

.inner-feature {
    margin-bottom: 120px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.featuer-wrap>iframe {
    border-radius: 25px 25px 0 0;
}

.feature {
    background-color: #250D44;
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 24px;
    border-radius: 0 0 15px 15px;
}

.feature>h2 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.feature>p {
    margin-bottom: 12px;
}

.timespan {
    display: flex;
    gap: 6px;
    align-items: center;
}

.timespan>p {
    color: #00FF88;
}

/* Biography Section */
.bio>h1 {
    text-align: center;
    margin-bottom: 40px;
}

.host {
    background-color: #351165;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 48.5px 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.host-content>h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
}

.host-content>p {
    margin-bottom: 16px;
}

.host-content>ul {
    display: flex;
    gap: 8px;
}

.host-content>ul>li {
    padding: 12px 12px;
    border: 2px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ==========================================
Footer Section
========================================== */
.footer-section {
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer-section>.logo>h1 {
    font-size: 65px;
}

.footer-section>ul {
    display: flex;
    gap: 40px;
}

.social-1,
.social-2 {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social>li {
    display: flex;
    align-items: center;
    gap: 8px;
}





/* ====================================================================
============================= Responsive Part =========================
==================================================================== */
@media (min-width: 577px) and (max-width: 1600px) {
    .podcast-section>hr {
        max-width: 1200px;
        width: 100%;
    }

    .about{
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .about-item{
        width: 240px;
    }
}

@media (max-width: 576px) {

    /* Nav bar */
    .nav-bar {
        justify-content: space-between;
        padding: 20px;
        gap: 0;
    }

    .nav-bar>ul {
        display: none;
    }

    .subscription {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* Hero Section */
    .hero-section {
        padding: 40px 20px;
    }

    .img-container>img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .img-container {
        padding: 80px;
        background-size: contain;
    }

    .hero-section>p {
        text-align: center;
    }

    .badge {
        top: 40px;
    }

    /* podcast section */
    .podcast-section>hr {
        margin: 0 20px;
    }

    /* About */
    .about {
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* Grid Section */
    .grid-section>h1 {
        margin: 0 20px;
    }

    .inner-grid {
        grid-template-columns: 1fr;
    }

    .items {
        margin: 0 20px;
    }

    .items-1 {
        padding: 40;
    }

    .items-1,
    .items-2,
    .items-3,
    .items-4 {
        text-align: left;
        grid-column: span 1;
        grid-row: span 1;
    }

    /* Feature */
    .inner-feature {
        flex-direction: column;
        align-items: center;
    }

    .bio {
        margin-left: 20px;
        margin-right: 20px;
    }

    .host {
        flex-direction: column;
    }

    .host-name,.host-discription{
        text-align: center;
    }

    .host-content>ul {
        justify-content: center;
    }

    /* footer */
    .footer-section>ul {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}
