* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* Common style */
.heading-style{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

.paragraph-style{
    color: #ada6a6;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    
}

.btn{
    color: #FFFFFF;
    background: var(--my-gradient-color);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    border: none;
    border-radius: 9999px;
}

.gradient-color{
    background: var(--my-gradient-color);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root{
    --my-gradient-color: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
}

/* ==========================================
Header section
========================================== */
.nav-bar {
    padding: 30px 0;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo>h1 {
    color: #FFFFFF;
    font-size: 43px;
    cursor: pointer;
}

.menu{
    display: flex;
    gap: 32px;
}

.menu>li{
    list-style: none;
    cursor: pointer;
}

.menu>li>a{
    color: #c2baba;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.subscription>button{
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
